In [1]:
import pandas as pd

In [14]:
df =pd.read_csv("spam.csv", encoding='latin1')
df.head(5)

,label,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
#step 2
df.shape[0]

5572

In [16]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [17]:
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
#step3
df.groupby(['label']).count()

       text
label
ham    4825
spam    747

In [20]:
#step4
y = df['label']
X = df['text']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=45)

In [8]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\1mscds46\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
#step5
from nltk.corpus import stopwords
def process_text(msg):
    punctuations = '''!()-[]:;"\,<>./?@#${}%^_~*&'''
    nopunc = [char for char in msg if char not in punctuations]
    nopunc = ''.join(nopunc)
    return [word for word in nopunc.split()
            if word.lower() not in stopwords.words('english')]

In [24]:
#step6
from sklearn.feature_extraction.text import TfidfVectorizer
df1 = TfidfVectorizer(use_idf=True,analyzer = process_text,ngram_range=(1,3),min_df=1)
df1

TfidfVectorizer(analyzer=<function process_text at 0x000002605C5FAC10>,
                ngram_range=(1, 3))

In [26]:
a = df1.fit_transform(X_train)

In [27]:
a1 = df1.transform(X_test)

In [28]:
#step7
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(a,y_train)

MultinomialNB()

In [29]:
#STEP 8
y_pred = clf.predict(a1)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [30]:
#step 9
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[940,   0],
       [ 46, 129]], dtype=int64)

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.95      1.00      0.98       940
        spam       1.00      0.74      0.85       175

    accuracy                           0.96      1115
   macro avg       0.98      0.87      0.91      1115
weighted avg       0.96      0.96      0.96      1115

In [32]:
#STEP 10
from sklearn.feature_extraction.text import TfidfVectorizer
df2 = TfidfVectorizer(use_idf=True,analyzer = process_text,ngram_range=(1,2),min_df=1)
df2

TfidfVectorizer(analyzer=<function process_text at 0x000002605C5FAC10>,
                ngram_range=(1, 2))

In [33]:
b = df2.fit_transform(X_train)
b1= df2.transform(X_test)

In [34]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(b,y_train)

MultinomialNB()

In [35]:
y1_pred = clf.predict(b1)
y1_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [36]:
confusion_matrix(y_test,y1_pred)

array([[940,   0],
       [ 46, 129]], dtype=int64)

In [37]:
print(classification_report(y_test,y1_pred))

              precision    recall  f1-score   support

         ham       0.95      1.00      0.98       940
        spam       1.00      0.74      0.85       175

    accuracy                           0.96      1115
   macro avg       0.98      0.87      0.91      1115
weighted avg       0.96      0.96      0.96      1115