In [2]:
import pandas as pd

EXERCISE-1

In [5]:
df=pd.read_csv("train.tsv",sep='\t')

In [6]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [7]:
df.shape

(156060, 4)

In [10]:
df.describe()

            PhraseId     SentenceId      Sentiment
count  156060.000000  156060.000000  156060.000000
mean    78030.500000    4079.732744       2.063578
std     45050.785842    2502.764394       0.893832
min         1.000000       1.000000       0.000000
25%     39015.750000    1861.750000       2.000000
50%     78030.500000    4017.000000       2.000000
75%    117045.250000    6244.000000       3.000000
max    156060.000000    8544.000000       4.000000

In [9]:
df.columns

Index(['PhraseId', 'SentenceId', 'Phrase', 'Sentiment'], dtype='object')

In [11]:
df['Sentiment'].value_counts()

2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

EXERCISE-2

In [12]:
zero = df.loc[df.Sentiment == 0]
one = df.loc[df.Sentiment == 1]
two = df.loc[df.Sentiment == 2]
three = df.loc[df.Sentiment == 3]
four = df.loc[df.Sentiment == 4]

In [16]:
small_rotten_train = pd.concat([zero[:200],one[:200],two[:200],three[:200],four[:200]])

EXERCISE-3

In [18]:
small_rotten_train.to_csv("small_rotten_train.csv")

In [24]:
X=small_rotten_train.Phrase

In [25]:
y=small_rotten_train.Sentiment

In [26]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\1mscds46\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\1mscds46\AppData\Roaming\nltk_data...

True

In [27]:
stop_words = set(stopwords.words('english'))

In [28]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [29]:
def clean_review(review):
    tokens=review.lower().split()
    filtered_tokens=[lemmatizer.lemmatize(w) for w in tokens if w not in stop_words]
    return" ".join(filtered_tokens)

In [30]:
t = X.tolist()
f =[]

In [31]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\1mscds46\AppData\Roaming\nltk_data...

True

In [33]:
for i in t:

    f.append(clean_review(i))
n = pd.Series(f)

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=450)

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
TfidfVectorizer(min_df =3,max_features =None, ngram_range = (1,2), use_idf=1)

TfidfVectorizer(min_df=3, ngram_range=(1, 2), use_idf=1)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [39]:
X_train_NB = cv.fit_transform(X_train)
X_test_NB = cv.transform(X_test)

In [41]:
from sklearn.naive_bayes import MultinomialNB
mb = MultinomialNB()
mb.fit(X_train_NB,y_train)

MultinomialNB()

In [42]:
y_pred_NB= mb.predict(X_test_NB)

In [43]:
from sklearn.metrics import accuracy_score,classification_report
acc = accuracy_score(y_test,y_pred_NB)
print("Accuracy score :",acc)

Accuracy score : 0.9865470852017937

In [44]:
print("Classification Report :\n",classification_report(y_test,y_pred_NB))

Classification Report :
               precision    recall  f1-score   support

         ham       0.99      1.00      0.99       940
        spam       0.99      0.93      0.96       175

    accuracy                           0.99      1115
   macro avg       0.99      0.96      0.97      1115
weighted avg       0.99      0.99      0.99      1115

Exercise -4

In [46]:
df1 = pd.read_csv("test.tsv",sep='\t')

In [47]:
df1.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [48]:
X2 = df1["Phrase"]

In [49]:
X2 = X2.apply(lambda X2: clean_review(X2))

In [50]:
X2_test = cv.transform(X2)

In [51]:
y_pred_2 = mb.predict(X2_test)
y_pred_2

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')